:root {
  --white: #ffffff;
  --black: #212121;
  --gray: #757575;
  --primary: #695e93;
  --secondary: #484064;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.main-title {
  font-size: 3.8rem;
  text-align: center;
}

.main-title span {
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  margin: 5rem auto;
}

.nav-background {
  background-color: var(--secondary);
}

.main-navigation {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-navigation {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.main-navigation a {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}

.main-navigation a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
